<!-- <div *ngFor="let menu of menus">
    <qr-code [value]="menu.data.url"></qr-code>
</div> -->
<br>
<div class="row animated fadeIn d-flex justify-content-center" *ngIf="restaurante">
    <div class="col-xl-12 col-lg-12" *ngIf="show">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 text-center">
                <h6 class="m-0 font-weight-bold text-primary">{{restaurante.nombreRestaurante}}</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">
                    <div class="col-12 col-lg-7">
                        <div class="text-center">
                            <img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 25rem;" [src]="restaurante.logo" alt="">
                        </div>
                    </div>
                    <div class="col-12 col-lg-5 px-3 px-sm-4 mt-3 mb-4">
                        <div class="card shadow mb-4 ">
                            <!-- Card Header - Accordion -->
                            <a class="card-header py-3 text-center">
                                <h6 class="m-0 font-weight-bold text-primary">Estamos Ubicados</h6>
                            </a>
                            <!-- Card Content - Collapse -->
                            <div class="card-body px-1 px-sm-1 mt-1 mb-1">
                                <div class="card mb-1 py-1 border-left-primary">
                                    <div class="card-body px-1 px-sm-1 text-center">
                                        {{restaurante.direccion}}
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="footer text-center">
                    <button (click)="goToUrl()" class="btn btn-primary btn-icon-split btn-lg">
                    <span class="icon text-white-50">
                      <i class="fas fa-utensils"></i>
                    </span>
                    <span class="text">Ver Menú</span>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- <div class="row animated fadeIn d-flex justify-content-center" *ngIf="showPagar">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <div class="card-header py-3 text-center">
                <h6 class="m-0 font-weight-bold text-primary">Adquirir Código QR</h6>
            </div>
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <form name="demo">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [(ngModel)]="subscripcion" name="subscripcion" [value]="50" checked>
                            <label class="form-check-label" for="exampleRadios1">
                                Subscripción Anual
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [(ngModel)]="subscripcion" name="subscripcion" [value]="10">
                            <label class="form-check-label" for="exampleRadios2">
                                Subscrición Mensual
                            </label>
                        </div>
                    </form>
                </div>
                <div class="row text-center">
                    <button (click)='irPago()' type="button" class="btn btn-warning btn-block btn-icon-split btn-lg">
                        <span class="text">Obtener Código QR</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div> -->
<div class="row animated fadeIn d-flex justify-content-center" *ngIf="showPagar">

    <div class="col-xl-12 col-md-12 col-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total a Pagar</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{ subscripcion}}.00 $</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
                <br>
                <div class="row no-gutters align-items-center">
                    <form name="demo">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [(ngModel)]="subscripcion" name="subscripcion" [value]="50" checked>
                            <label class="form-check-label" for="exampleRadios1">
                              Subscripción Anual
                            </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [(ngModel)]="subscripcion" name="subscripcion" [value]="10">
                            <label class="form-check-label" for="exampleRadios2">
                              Subscrición Mensual
                            </label>
                        </div>
                    </form>
                </div>
                <div class="row text-center ">
                    <button (click)='irPago()' type="button " class="btn btn-warning btn-block btn-icon-split btn-lg ">
                    <span class="text ">Obtener Código QR</span>
                </button>
                </div>
            </div>
        </div>
    </div>
</div>