<br>
<div #screen class="row animated fadeIn d-flex justify-content-center" id="my-node">
    <div class="col-xl-3 col-lg-3">
        <div #screen class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div *ngIf="restaurante" class=" card-header py-1 text-center">
                <img class="img-fluid px-1 px-sm-1 mt-1 mb-1" style="width: 5rem; " src="assets/img/logo.png " alt=" "> </div>
            <!-- Card Body -->
            <div class="card-body text-center ">
                <div *ngIf="restaurante && restaurante.menu" class="card border-left-primary ">
                    {{restaurante.nombreRestaurante}}
                    <br> {{restaurante.direccion}}
                </div>
                <qr-code *ngIf="restaurante.menu " [value]="direccion" [size]="300"></qr-code>
                <div class="footer text-center ">
                    <p>Digitaliza tu menú en 100menus.com</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="row animated fadeIn d-flex justify-content-center">
    <div class="btn btn-primary" (click)="downloadImage()">Descargar Código</div>
</div>

<!-- <button class="doNotPrint " (click)='print()'>print</button> -->
<div *ngIf="show" id="download">
    <img #canvas>
    <a #downloadLink></a>
</div>