<div>
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-register-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Crea una cuenta!</h1>
                        </div>
                        <form class="user" autocomplete="off" [formGroup]="forma" (ngSubmit)="guardar()">
                            <div class="form-group">
                                <input class="form-control form-control-user" type="text" placeholder="Nombre Completo" formControlName="nombre" [class.is-invalid]="nombreNoValido">
                                <div *ngIf="nombreNoValido" class="invalid-feedback">
                                    Debe ingresar 3 letras o más
                                </div>
                            </div>
                            <div class="form-group">
                                <input class="form-control form-control-user" type="email" placeholder="Correo electrónico" formControlName="correo" [class.is-invalid]="correoNoValido">
                                <div *ngIf="correoNoValido" class="invalid-feedback">
                                    Ingrese un correo válido
                                </div>
                            </div>
                            <div class="form-group">
                                <select (change)='setCodigoArea($event.target.value)' class="custom-select form-control" formControlName="pais" [class.is-invalid]="paisNoValido">
                                    <option selected value="">Seleccione el país donde reside</option>
                                    <option  *ngFor="let pais of paises; let i = index" [value]="paises[i]['name']">
                                        {{paises[i]['name']}}
                                    </option>
                                </select>
                                <div *ngIf="paisNoValido" class="invalid-feedback">
                                    Debe seleccionar el pais
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input class="form-control form-control-user" type="text" placeholder="Código de Area" formControlName="codigo_area" [class.is-invalid]="codigoNoValido">
                                    <div *ngIf="codigoNoValido" class="invalid-feedback">
                                        Ingrese el código de area
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" type="text" placeholder="Teléfono" formControlName="telefono" [class.is-invalid]="telefonoNoValido">
                                    <div *ngIf="telefonoNoValido" class="invalid-feedback">
                                        Ingrese el número de teléfono
                                    </div>
                                </div>
                            </div>
                            <div class="form-group row">
                                <div class="col-sm-6 mb-3 mb-sm-0">
                                    <input class="form-control form-control-user" type="password" placeholder="Contraseña" formControlName="pass1" [class.is-invalid]="pass1NoValido">
                                    <div *ngIf="pass1NoValido" class="invalid-feedback">
                                        La contraseña debe tener 6 o más caracteres
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <input class="form-control form-control-user" type="password" placeholder="Repita contraseña" [class.is-invalid]="pass2NoValido" formControlName="pass2">
                                    <div *ngIf="pass2NoValido" class="invalid-feedback">
                                        La contraseñas deben coincidir
                                    </div>
                                </div>
                            </div>
                            <button type="button" (click)='guardar()' class="btn btn-primary btn-user btn-block">
                                Registrarse
                            </button>
                            <hr>
                        </form>
                        <hr>
                        <div class="text-center">
                            <a class="small" href="login.html">¿Ya cuentas con una cuenta? Inicia Sesiíon</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<!-- card.// -->
<!-- <hr>
<pre>
  Estado del formulario: {{ forma.valid }}
  <br>
  Status: {{ forma.status }}
</pre>

<pre>

  {{ forma.value | json }}

</pre> -->