<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Creación de Restaurantes</h1>
</div>
<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-1 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Datos del Restaurante</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">

                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-1 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Logo</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Subir Logo</span>
                                    </div>
                                    <div class="custom-file">
                                        <input (change)="onFileSelected($event.target.files, 'logo') " name="logo" autocomplete="off" type="file" class="custom-file-input " aria-describedby="inputGroupFileAddon01 ">
                                        <label class="custom-file-label " for="inputGroupFile01 "></label>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <img *ngIf="logo == null" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" src="https://miro.medium.com/max/2738/1*PPud-Z83-82NSwvzV9dnlg.png" alt="">
                                    <img *ngIf="logo" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" [src]="logoPreview" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-1 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Menú</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Subir Menú</span>
                                    </div>
                                    <div class="custom-file">
                                        <input (change)="onFileSelected($event.target.files, 'menu') " name="image" autocomplete="off" type="file" class="custom-file-input " aria-describedby="inputGroupFileAddon01 ">
                                        <label class="custom-file-label " for="inputGroupFile01 "></label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <img *ngIf="menus.length == 0" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" src="https://miro.medium.com/max/2738/1*PPud-Z83-82NSwvzV9dnlg.png" alt="">
                                    <img *ngIf="menus.length != 0 && menuExtension == 'pdf'; else menuImagen" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="">
                                    <ng-template #menuImagen>
                                        <img *ngIf="menus.length != 0" #menuImagen class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" [src]="menuPreview" alt="">
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Datos Generales</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <form class="user" autocomplete="off" [formGroup]="forma" (ngSubmit)="crearRestaurante()">
                                    <div class="form-group row">

                                        <input type="text" class="form-control" id="nombreRestaurante" placeholder="Nombre del Restaurante" formControlName="nombreRestaurante" [class.is-invalid]="nombreRestauranteNoValido">
                                        <div *ngIf="nombreRestauranteNoValido" class="invalid-feedback">
                                            Debe ingresar 3 letras o más
                                        </div>

                                    </div>
                                    <div class="row">
                                        <div class="col">

                                            <table class="table">
                                                <thead class="thead-dark">
                                                    <tr>
                                                        <th>Dirección</th>
                                                        <th>Borrar</th>
                                                    </tr>
                                                </thead>
                                                <tbody formArrayName="direcciones">
                                                    <tr *ngFor="let emp of direcciones.controls; let i = index" [formGroupName]="i" class="direccion">
                                                        <td>
                                                            <input class="form-control" type="text" formControlName="direccion" [class.is-invalid]="direccionNoValido">
                                                            <div *ngIf="direccionNoValido" class="invalid-feedback">
                                                                Debe ingresar 3 letras o más
                                                            </div>
                                                        </td>
                                                        <td>
                                                            <button class="btn btn-danger" (click)="borrarDireccion(i)">
                                                    Borrar
                                                  </button>
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <button class="btn btn-primary mt-3 mb-5 btn-block" type="button" (click)="agregarDireccion()">
                                            + Agregar
                                          </button>

                                        </div>
                                    </div>
                                </form>
                                <div class="text-center">
                                    <button (click)='crearRestaurante()' type="button" class="btn btn-success btn-icon-split btn-lg">
                                    <span class="icon text-black-50">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text">Crear Restaurante</span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-xl-10 col-lg-9">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Restaurantes Creados</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">

                <div class="table-responsive">
                    <table *ngIf="!cargando && restaurantes.length > 0" class="table table-bordered animated fadeIn faster" id="dataTable" width="100%" cellspacing="0">
                        <thead>
                            <tr>
                                <th class="text-center" scope="col">Logo</th>
                                <th class="text-center" scope="col">Nombre</th>
                                <th class="text-center" scope="col">Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr *ngFor="let restaurante of restaurantes; let i = index">
                                <td class="text-center parent"><img class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" [src]="restaurante.logo" alt=""></td>
                                <td class="text-center">{{ restaurante.nombreRestaurante }}</td>
                                <td class="text-center">
                                    <a [routerLink]='["/restaurante-menu", restaurante.codigoRestaurante]' class="badge badge-primary">Previsualizar Menú</a>
                                    <br>
                                    <a href="#" (click)="borrarRestaurante($event, restaurante.id, i)" class="badge badge-danger">Borrar</a>
                                    <br>
                                    <a [routerLink]='["/qr", restaurante.codigoRestaurante]' *ngIf="restaurante.activo" class="badge badge-success">Ver Código QR</a>
                                    <br>
                                    <!-- <a [routerLink]='["/restaurante-edit", restaurante.codigoRestaurante]' *ngIf="restaurante.activo" class="badge badge-warning">Editar</a> -->

                                    <div *ngIf="!restaurante.activo" class="form-check">
                                        <input class="form-check-input" type="checkbox" type="checkbox" [value]="restaurante.id" (change)="addRestauranteId($event, restaurante.id)">
                                        <label class="form-check-label" for="defaultCheck1">
                                            Seleccionar para adquirir código qr
                                        </label>
                                    </div>
                                </td>
                                <!-- <td>
                 
                         <button class="btn btn-info mr-1"
                                 [routerLink]="['/heroe', heroe.id ]">
                           <i class="fa fa-pen"></i>
                         </button>
                 
                         <button class="btn btn-danger"
                                 (click)="borrarHeroe( heroe, i ) ">
                           <i class="fa fa-trash"></i>
                         </button>
                 
                 
                       </td> -->
                            </tr>
                        </tbody>
                    </table>
                </div>

                <div *ngIf="!cargando && restaurantes.length === 0" class="alert alert-warning text-center mt-3 animated fadeIn faster">
                    <h4 class="alert-heading">No hay registros</h4>
                    <p>
                        <i class="fa fa-exclamation fa-2x"></i>
                    </p>
                </div>

                <div *ngIf="cargando" class="alert alert-info text-center mt-3 animated fadeIn faster">
                    <h4 class="alert-heading">Cargando</h4>
                    <p>
                        <i class="fa fa-sync-alt fa-spin fa-2x"></i>
                    </p>
                    <p class="mb-0">
                        Espere por favor
                    </p>
                </div>
            </div>
        </div>
    </div>
    <div class="col-xl-2 col-md-3 col-12 mb-4">
        <div class="card border-left-primary shadow h-100 py-2">
            <div class="card-body">
                <div class="row no-gutters align-items-center">
                    <div class="col mr-2">
                        <div class="text-xs font-weight-bold text-primary text-uppercase mb-1">Total a Pagar</div>
                        <div class="h5 mb-0 font-weight-bold text-gray-800">{{restaurantesIds.length * subscripcion}}.00 $</div>
                    </div>
                    <div class="col-auto">
                        <i class="fas fa-money-bill-alt fa-2x text-gray-300"></i>
                    </div>
                </div>
                <br>
                <div class="row no-gutters align-items-center">
                    <form name="demo">
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [(ngModel)]="subscripcion" name="subscripcion" [value]="50" checked (change)="cambiarSubscripion($event.target.value)">
                            <label class="form-check-label" for="exampleRadios1">
                                  Subscripción Anual
                                </label>
                        </div>
                        <div class="form-check">
                            <input class="form-check-input" type="radio" [(ngModel)]="subscripcion" name="subscripcion" [value]="10" (change)="cambiarSubscripion($event.target.value)">
                            <label class="form-check-label" for="exampleRadios2">
                                  Subscripción Mensual
                                </label>
                        </div>
                    </form>
                </div>
                <div class="row text-center">
                    <button (click)='irPago()' type="button" class="btn btn-warning btn-block btn-icon-split btn-lg">
                        <span class="text">Obtener Código QR</span>
                    </button>
                </div>
            </div>
        </div>
    </div>

</div>