<div id="content-wrapper" class="d-flex flex-column">
    <div id="content">
        <app-navbar></app-navbar>
        <div class="container-fluid">
            <router-outlet></router-outlet>
        </div>
    </div>
</div>