<div class="limiter animated fadeInLeft">
    <div class="row justify-content-center">

        <div class="col-xl-10 col-lg-12 col-md-9">

            <div class="card o-hidden border-0 shadow-lg my-5">
                <div class="card-body p-0">
                    <!-- Nested Row within Card Body -->
                    <div class="row">
                        <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h1 class="h4 text-gray-900 mb-4">Welcome Back!</h1>
                                </div>
                                <form (ngSubmit)="login( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w user">
                                    <span *ngIf="f.submitted && f.controls['correo'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="text" name="correo" [(ngModel)]="usuario.correo" required correo placeholder="Email">
                                    </div>
                                    <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Al menos 6 letras</span>
                                    <div class="form-group">
                                        <input type="password" class="form-control form-control-user" type="password" name="password" [(ngModel)]="usuario.password" required minlength="6" placeholder="Password">
                                    </div>
                                    <div class="form-group">
                                        <div class="custom-control custom-checkbox small">
                                            <input [(ngModel)]="recordarme" class="custom-control-input" id="ckb1" type="checkbox" name="remember-me">
                                            <label class="custom-control-label" for="ckb1">
                                                Recordar mi usuario
                                            </label>
                                        </div>
                                        <!-- <div class="custom-control custom-checkbox small">
                                            <input class="custom-control-input" [(ngModel)]="recordarme" id="ckb1" type="checkbox" name="remember-me">
                                            <label class="custom-control-label" for="customCheck">Recordarme</label>
                                        </div> -->
                                    </div>
                                    <button type="submit" class="btn btn-primary btn-user btn-block">
                                        Iniciar Sesión
                                    </button>
                                    <hr>

                                </form>
                                <hr>
                                <div class="text-center">
                                    <a class="small">¿Has Olvidado la Contraseña?</a>
                                </div>
                                <div class="text-center">
                                    <a class="small" [routerLink]="['/reactivo']">Crear una cuenta!</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>
    <!-- <div class="container-login100">
        <div class="wrap-login100 p-t-50 p-b-90">

            <form (ngSubmit)="login( f )" #f="ngForm" class="login100-form validate-form flex-sb flex-w">

                <span class="login100-form-title p-b-51">
                    Login
                </span>

                <span *ngIf="f.submitted && f.controls['correo'].errors" class="text-danger animated fadeIn">El correo es obligatorio</span>

                <div class="wrap-input100 m-b-16">
                    <input class="input100" type="text" name="correo" [(ngModel)]="usuario.correo" required correo placeholder="Email">

                    <span class="focus-input100"></span>
                </div>

                <span *ngIf="f.submitted && f.controls['password'].errors" class="text-danger animated fadeIn">Al menos 6 letras</span>
                <div class="wrap-input100 m-b-16" data-validate="Password is required">
                    <input class="input100" type="password" name="password" [(ngModel)]="usuario.password" required minlength="6" placeholder="Password">
                    <span class="focus-input100"></span>
                </div>

                <div class="flex-sb-m w-full p-t-3 p-b-24">
                    <div class="contact100-form-checkbox">
                        <input [(ngModel)]="recordarme" class="input-checkbox100" id="ckb1" type="checkbox" name="remember-me">
                        <label class="label-checkbox100" for="ckb1">
                            Recordar mi usuario
                        </label>
                    </div>

                    <div>
                        <a routerLink="/registro" class="txt1">
                            ¿No tienes cuenta?
                        </a>
                    </div>
                </div>

                <div class="container-login100-form-btn m-t-17">
                    <button class="login100-form-btn" type="submit">
                        Ingresar
                    </button>
                </div>

            </form>
        </div>
    </div> -->
</div>