<div class="row">
    <div class="col-xl-12 col-lg-12">
        <div class="card shadow mb-4">
            <!-- Card Header - Dropdown -->
            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                <h6 class="m-0 font-weight-bold text-primary">Datos del Restaurante</h6>
            </div>
            <!-- Card Body -->
            <div class="card-body">
                <div class="row">

                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Logo</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Subir Logo</span>
                                    </div>
                                    <div class="custom-file">
                                        <input (change)="onFileSelected($event.target.files, 'logo') " name="logo" autocomplete="off" type="file" class="custom-file-input " aria-describedby="inputGroupFileAddon01 ">
                                        <label class="custom-file-label " for="inputGroupFile01 "></label>
                                    </div>
                                </div>

                                <div class="text-center">
                                    <img *ngIf="logo == null" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" [src]="restaurante.logo" alt="">
                                    <img *ngIf="logo" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" [src]="logoPreview" alt="">
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-4">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Menú</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <div class="input-group">
                                    <div class="input-group-prepend">
                                        <span class="input-group-text" id="inputGroupFileAddon01">Subir Menú</span>
                                    </div>
                                    <div class="custom-file">
                                        <input (change)="onFileSelected($event.target.files, 'menu') " name="image" autocomplete="off" type="file" class="custom-file-input " aria-describedby="inputGroupFileAddon01 ">
                                        <label class="custom-file-label " for="inputGroupFile01 "></label>
                                    </div>
                                </div>
                                <div class="text-center">
                                    <img *ngIf="!restaurante.menu" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" src="https://miro.medium.com/max/2738/1*PPud-Z83-82NSwvzV9dnlg.png" alt="">
                                    <img *ngIf="menuExtension == 'pdf' || restaurante.menuTipo == 'pdf'; else menuImagen" class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" src="https://upload.wikimedia.org/wikipedia/commons/8/87/PDF_file_icon.svg" alt="">
                                    <ng-template #menuImagen>
                                        <img *ngIf="menus.length == 0; else menuImagen2" #menuImagen class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" [src]="restaurante.menu" alt="">
                                        <ng-template #menuImagen2>
                                            <img *ngIf="menus.length != 0" #menuImagen2 class="img-fluid px-3 px-sm-4 mt-3 mb-4" style="width: 10rem;" [src]="menuPreview" alt="">
                                        </ng-template>
                                    </ng-template>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="col-xl-4 col-lg-3">
                        <div class="card shadow mb-4">
                            <!-- Card Header - Dropdown -->
                            <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                <h6 class="m-0 font-weight-bold text-primary">Datos Generales</h6>
                            </div>
                            <!-- Card Body -->
                            <div class="card-body">
                                <form class="user" autocomplete="off" [formGroup]="forma" (ngSubmit)="actualizarRestaurante()">
                                    <div class="form-group row">

                                        <input type="text" class="form-control" id="nombreRestaurante" placeholder="Nombre del Restaurante" formControlName="nombreRestaurante" [class.is-invalid]="nombreRestauranteNoValido">
                                        <div *ngIf="nombreRestauranteNoValido" class="invalid-feedback">
                                            Debe ingresar 3 letras o más
                                        </div>

                                    </div>
                                    <div class="form-group row">

                                        <input type="text" class="form-control" id="direccion" placeholder="Dirección" formControlName="direccion" [class.is-invalid]="nombreRestauranteNoValido">
                                        <div *ngIf="direccionNoValido" class="invalid-feedback">
                                            Debe ingresar 3 letras o más
                                        </div>

                                    </div>
                                </form>
                                <div class="text-center">
                                    <button (click)='actualizarRestaurante()' type="button" class="btn btn-success btn-icon-split btn-lg">
                                    <span class="icon text-black-50">
                                        <i class="fas fa-plus"></i>
                                    </span>
                                    <span class="text">Actualizar Restaurante</span>
                                </button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>