<!-- <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">
    <a class="navbar-brand" href="#">
        <img src="assets/img/banner-ico.png" width="30" height="30" alt=""> 100 Menús
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="inicio">Home</a>
            </li>
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="reactive">Search</a>
            </li>

        </ul>
        <ul class="my-2 my-lg-0">
            <li class="nav-item" routerLinkActive="active">
                <a class="nav-link" routerLink="reactivo">Registrarse</a>
            </li>
        </ul>

    </div>
</nav> -->

<nav class="navbar navbar-expand-lg bg-secondary text-uppercase" id="mainNav">
    <div class="container">
        <a class="navbar-brand js-scroll-trigger" routerLink="inicio"><img width="100px" src="assets/img/logo_blanco.png" alt=""></a>
        <button class="navbar-toggler navbar-toggler-right text-uppercase font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fas fa-bars"></i>
            </button>
        <div class="collapse navbar-collapse" id="navbarResponsive">
            <ul class="navbar-nav ml-auto">
                <li *ngIf="!(isLoggedIn$ | async) as isLoggedIn" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a *ngIf="isLoggedIn" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">Nuestros Clientes</a></li>
                <li *ngIf="!(isLoggedIn$ | async) as isLoggedIn" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">Acerca de nosotros</a></li>
                <li *ngIf="!(isLoggedIn$ | async) as isLoggedIn" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">Contactanos</a></li>
                <li *ngIf="!(isLoggedIn$ | async) as isLoggedIn" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a *ngIf="isLoggedIn" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="reactivo">Registrarse</a></li>
                <li *ngIf="!(isLoggedIn$ | async) as isLoggedIn" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a *ngIf="isLoggedIn" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="login">Iniciar Sesión</a></li>
                <li *ngIf="isLoggedIn$ | async as isLoggedIn" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a *ngIf="isLoggedIn" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" routerLink="restaurante-perfil">Administración de Restaurantes</a></li>
                <li *ngIf="isLoggedIn$ | async as isLoggedIn" class="nav-item mx-0 mx-lg-1" routerLinkActive="active"><a *ngIf="isLoggedIn" class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" (click)="cerrarSesion()">Cerrar Sesión</a></li>
            </ul>
        </div>
    </div>
</nav>