<br>
<div class="row">
    <div class="col-xl-12 col-md-12 mb-4">
        <div class="card border-left-success shadow h-100 py-2">
            <div class="card-body text-center">
                <div [hidden]="paidFor" #paypal></div>
            </div>
        </div>
    </div>

</div>